[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "hmkit-core"]
	path = hmkit-core
	url = https://github.com/highmobility/hmkit-core.git
[submodule "hmkit-crypto-c"]
	path = hmkit-crypto-c
	url = https://github.com/highmobility/hmkit-crypto-c.git
